force-app/main/default/flows/Rider_Get_Contact_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>aChat</name>
        <label>aChat</label>
        <locationX>660</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>strChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_LiveChatTranscript</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asMessage</name>
        <label>Assign Messaging</label>
        <locationX>258</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>strChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_rider_enabled</name>
        <label>Set Rider Enabled</label>
        <locationX>686</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>blRiderEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContact.Rider_Enabled__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Session_Channel</name>
        <label>Check Session Channel</label>
        <locationX>434</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>aChat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRoutableId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asMessage</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactID_Check</name>
        <label>ContactID Check</label>
        <locationX>464</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsnotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Is not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Rider - Get Contact Info {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Rider - Get Contact Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>476</locationX>
        <locationY>610</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_rider_enabled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Rider_ServiceTerritory__c</queriedFields>
        <queriedFields>Rider_Enabled__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_LiveChatTranscript</name>
        <label>Get LiveChatTranscript</label>
        <locationX>537</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactID_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRoutableId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>strContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>401</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRoutableId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>strContactId</assignToReference>
            <field>EndUserContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMessagingUserId</assignToReference>
            <field>MessagingEndUserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>227</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactID_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strMessagingUserId</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputReference>objMessagingUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>MessagingChannelId</queriedFields>
        <queriedFields>MessageType</queriedFields>
        <queriedFields>MessagingPlatformKey</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Check_Session_Channel</startElementReference>
    <status>Active</status>
    <variables>
        <name>blRiderEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objMessagingUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>strChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Messaging</stringValue>
        </value>
    </variables>
    <variables>
        <name>strContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMessagingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
